<!-- no app extende o dj template da raiz  -->
{%extends 'template1.html'%} 
{%block 'titulo'%}Logar{%endblock%} 
{%block 'conteudo'%}
<div class="container">
  <div class="row">
    <div class="col-sm">
      &nbsp;
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="card" style="width: 400px;">
    <div class="card-body">
      <h5 class="card-title text-center">Logar</h5>
      <h6 class="card-subtitle mb-2 text-muted  text-center">Sistema</h6>
      <p class="card-text">
        <form action="{%url 'cpf_listar'%}" method="post">{% csrf_token %}
          {%include 'partial/form/campo/email.html'%}
          {%include 'partial/form/campo/password1.html'%}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </p>
      <a href="{%url 'count_cadastrar'%}" class="card-link">Não possui Cadastro?</a>
      <a href="javascript:history.back()" class="card-link">Retornar</a>
    </div>
  </div>
</div>
{%endblock%}