body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:920px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:920px;
}
#u1 {
  position:absolute;
  left:2px;
  top:452px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:122px;
  top:20px;
  width:230px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:174px;
  top:34px;
  width:132px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:100px;
  width:480px;
  height:73px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:73px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:476px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:429px;
  top:29px;
  width:22px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:415px;
  top:22px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:17px;
  top:220px;
  width:446px;
  height:48px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:48px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:19px;
  top:304px;
  width:446px;
  height:256px;
  color:#999999;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:256px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:600px;
  width:480px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:34px;
  width:476px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:29px;
  top:761px;
  width:140px;
  height:112px;
  font-size:16px;
  text-decoration:underline;
  color:#999999;
  line-height:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:112px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:335px;
  top:847px;
  width:125px;
  height:33px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:33px;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:179px;
  top:843px;
  width:138px;
  height:37px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:26px;
  top:847px;
  width:130px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u26 {
  position:absolute;
  left:16px;
  top:793px;
  width:175px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:26px;
  top:757px;
  width:140px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:25px;
  top:825px;
  width:98px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
