body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:670px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:670px;
}
#u1 {
  position:absolute;
  left:2px;
  top:327px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:122px;
  top:20px;
  width:230px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:174px;
  top:34px;
  width:132px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:100px;
  width:480px;
  height:73px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:73px;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:476px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:89px;
  top:390px;
  width:331px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:327px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:429px;
  top:29px;
  width:22px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:415px;
  top:22px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:88px;
  top:223px;
  width:151px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:89px;
  top:270px;
  width:127px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:233px;
  top:270px;
  width:191px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:88px;
  top:305px;
  width:177px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:278px;
  top:305px;
  width:145px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background-color:#999999;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:89px;
  top:340px;
  width:335px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:89px;
  top:525px;
  width:173px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:89px;
  top:491px;
  width:129px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:272px;
  top:525px;
  width:148px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:89px;
  top:567px;
  width:331px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:327px;
  word-wrap:break-word;
}
